body {
  background-image: url("test.jpg");
  animation: synthwave 20s linear infinite alternate;
  position: relative;
  background-attachment: fixed;
  background-repeat:no-repeat;
  
}

@keyframes synthwave {
  0% {
    background-position: 30% 30%;
  }

  100% {
    background-position: 50% 20%;
  }
}

.headContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 400px;
  padding-bottom: 20px;
}

.backButton,
.visualiser,
.help {
  margin: auto;
}

.backButton {
  order: 1;
}

.visualiser {
  order: 2;
}

.help {
  order: 3;
}

.flexContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.header {
  order: 1;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bar,
.searchbar,
.photoCardDetail,
.result {
  margin: auto;
}

.bar,
.photoCardDetail {
  order: 2;
  margin-top: auto;
  margin-bottom: 40px;
}

.searchbar {
  height: 45px;
  border: none;
  width: 400px;
  font-size: 16px;
  outline: none;
  border-radius: 30px;
}

.photoCardDetail {
  color: aliceblue;
  justify-content: center;
}

.result {
  order: 4;
  

}


.tableSet {

  width: 80vw;
  background-color: #e2dae0;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;

}

th {
  border: 1px solid black;
}


.tableDetail {
  width: 100%;
  background-color: #e2dae0;
  border-radius: 10px;
}

.button {
  background-color: #f5f5f5;
  border: none;
  color: #707070;
  font-size: 15px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
}

.button:hover,
.button:focus {
  border: 1px solid #e2dae0;
  padding: 9px 19px;
  color: #e2dae0;
}

#setPicture {

  max-width: 200px;
  max-height: 2000px;

}