/*
Scrollbar 
*/

body {
  background-image: url("background.jpg");
  animation: synthwave 20s linear infinite alternate;
  position: relative;
  background-attachment: fixed;
  background-repeat:no-repeat;
}
/*
Animationen
*/
@keyframes synthwave {
  0% {
    background-position: 30% 30%;
  }

  100% {
    background-position: 50% 20%;
  }
}


.logo {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  margin: auto;

}

.logo img
{
  width: 20vmax;
  height: 20vh;

}


.flexContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.header {
  order: 1;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bar,
.searchbar,
.photoCardDetail,
.result {
  margin: auto;
}

.bar,
.photoCardDetail {
  order: 2;
  margin-top: auto;
  margin-bottom: 40px;
}

.bar h2{text-align: center;}

.searchbar {
  height: 45px;
  border: none;
  width: 400px;
  font-size: 16px;
  outline: none;
  border-radius: 30px;
}

.photoCardDetail {
  color: aliceblue;
  justify-content: center;
}

.result {
  order: 4;

}

.footer{ 
  
  font-size: small;
  order: 5;
  bottom: 0px;
  color: #BEBEBE;
  opacity: 60%;
}

th {
  border: 1px solid black;
}


.tableDetail {
  width: 100%;
  background-color: #e2dae0;
  
}



#error {
  text-decoration: underline;
  text-decoration-color: red;
  color: antiquewhite;
}

#res{
  color: antiquewhite;
}